*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}
body{
	font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:white;
}
 /* area 1*/
header{
	background-color:rgb(0, 0, 107) ;
}
main{
	color: black;
}
.menù{
	height: 80px;
	background-color: #255ee9;
	display: flex;
	padding: 25px;
}

.pubblicita{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*lista e parti iniziali*/	
ul{
	list-style-type: none;	
}	
.link li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.link{
	display: flex;
	width: 60%;
	background-color:#255ee9;
	;
	justify-content: center;
	align-items: center;
}

li{
	padding: 0 25px;

}
.logo{
	width:  20%;
	background-color: #255ee9;
}
.logo-a{
	text-align: end;
	width:  20%;
	background-color: #255ee9;
}

.jambotron-text{
	width: 600px;
	height: 300px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

/*sfondi*/

.sfondo-a{
	background-image: url('../img/jumbo.png');
	background-size: contain;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}

.dettagli{
	background-size: contain;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}

	

/*main*/

.neutral{
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.blu{
	width: 600px;
	height: 400px;
	
	
	
}
.sfondo-b{
	background-image: url('../img/item1.svg');
}

.sfondo-c{
	background-image: url('../img/item2.svg');
	margin-bottom: 60px;
}

.sfondo-d{
	background-image: url('../img/item3.svg');
}
.pink{
	width: 400px;
	height: 400px;	
}

.sfondo{
	height: 500px;
	background-color: #f6f6f6;
	justify-content: center;
	align-items: center;
	padding-top: 90px;
}

.greyandgreen{
	height: 800px;
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.green{
	width: 1000px;
	height: 700px;
	background-color: green;
}

/*inizio footer*/

footer{
	background-color: black;
}

.imag{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 450px;
	border-bottom: 1px solid white;
}

.violp{
	width: 500px;
	height: 400px;
	background-color: palevioletred;
	border: 1px solid white;
	
}

.acquam{
	width: 400px;
	height: 400px;
	background-color: aquamarine;
	border: 1px solid white;

}

/*recapiti*/

.recap{
	background-color: aquamarine;
	margin-top:20px ;
	margin-left: 450px;
	margin-right: 450px;
	padding: 10 0px;
	display: flex;
	justify-content: space-between;
}


/*tasti*/

.large{
	display: inline-block;
	border-style: solid;
	border-radius: 21px;
	border-width: 1px;
	padding: 15px;
		
}

.little{
	display: inline-block;
	border-style: solid;
	border-radius: 12px;
	border-width: 1px;
	padding: 6px;
}

.whiteblcak{
	background-color: white;
	color: black;
	border-color: rgb(255, 255, 255);
}
.blackwhite{
	background-color: black;
	color: white;
	border-color: rgb(0, 0, 0);
}
.margine{
	margin-right: 30px;
}
.margine-botton{
	margin-top: 30px;
}
/*flex classi*/
.flex-class{
	display: flex;

}

/*caratteri*/
h1{
	font-size: 50px;
	margin-bottom: 20px;
}
.text-cara{
	font-size: larger;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2{
	font-size: 50px;
	color: black;
	margin-bottom: 15px;
}

.text-central{
	font-size: larger;
	margin-top: 5px;
	margin-bottom: 5px;	
}